body{
    height: 100vh;
    width: 100vw;
    margin: 0;

}
.topHalf1{
    height: 50%;
    width: 100%;
}
.imgDiv1{
    background-image: url("images/beerLiquid.jpg");
    width: 100%;
    height: 100%;
    background-position: bottom left;
}
.titleDiv{
    border: 1px black solid;
    font-size: 2rem;
    text-align: center;
}
.beers{
    display:flex;
    justify-content: space-evenly;

}
.stoutDiv{
    display: inline-block;
    border: 1px black solid;
    font-size: 2rem;
}
.aleDiv{
    display: inline-block;
    border: 1px black solid;
    font-size: 2rem;
}
.lagerDiv{
    display: inline-block;
    border: 1px black solid;
    font-size: 2rem;
}
.maltDiv{
    display: inline-block;
    border: 1px black solid;
    font-size: 2rem;
}
.nonAlcoholicDiv{
    display: inline-block;
    border: 1px black solid;
    font-size: 2rem;
}
.submitDiv{
    border: 1px black solid;
    font-size: 2rem;
    text-align: center;
}
#googleMap {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    background-color: grey;
}