body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("images/triangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.topHalf1{
    height: 50%;
    width: 100%;
}
.imgDiv1{
    width: 100%;
    height: 100%;
    background-position: bottom left;
}
.titleDiv{
    font-size: 4rem;
    font-family: 'Charmonman', cursive;
    text-align: center;
}
.nav{
    height: 10%;
    width: 100%;
    text-align: center;
}
.checkbox{
    display: inline-block;
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 2em;
}
.submitDiv{
    border: 1px black solid;
    font-size: 2rem;
    text-align: center;
}

.bottomHalf{
    height: 50%;
    width: 100%;
}
.wikipedia{
    font-size: 1rem;
    position: relative;
    top: 4%;
}
#googleMap {
    height: 70%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
.randomizeButton{
    width: 20%;
    height: 100%;
}

/** Modals **/
.backgroundModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("images/triangle.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    filter: blur(10px);
}
.infoModal{
    position: absolute;
    height: 130%;
    width: 70%;
    background-image: url("images/triangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 15%;
    text-align: center;
}
.beerImage{
    position: relative;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 4px solid rgb(187, 168, 59);
    height: 190px;
    width: 190px;
    top: 5%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.beerInfo{
    position: relative;
    top:5%;
}
.infoModal p{
    font-size: 3vmin;
    top: 5%;
    font-family: 'Teko';
    font-weight: 500;
    line-height: 8px;
}
#dollarSign{
    color:rgb(187, 168, 59);
}
.displaynone{
    display: none;
}
.hidden {
    opacity: 0;
    animation: .6s fadeout linear 0s 1;
    z-index: -1;
}.hiddenBackground {
    opacity: 0;
    animation: .6s fadeoutbackground linear 0s 1;
    z-index: -1;
}
.showBackgroundModal{
    opacity: 1;
    animation: .6s fadeinbackground linear 0s 1;
    z-index: 3;
}
.showInfoModal{
    opacity: 1;
    animation: .6s fadein linear 0s 1;
    z-index: 4;
}
